@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
@import '~@nebular/theme/styles/themes/cosmic';

$nb-themes: nb-register-theme((

  // add your variables here like:

  color-primary-100: #96e6d8,
  color-primary-200: #ace2d9,
  // color-primary-300: #97d6cc,
  // color-primary-400: #71b3a8,
  // color-primary-500: #71b3a8,
  // color-primary-600: #71b3a8,
  // color-primary-700: #71b3a8,
  // color-primary-800: #71b3a8,
  // color-primary-900: #71b3a8,

  background-basic-color-1: #96e6d8, 
  background-basic-color-2: #ace2d9, 
  background-basic-color-3: #cbe4d8, 
  background-basic-color-4: white,

), habla, default);
